<span class="dropdown">VERSIONS
	<div class="dropdown-content"> 
		<p><b>Branches</b></p>
		{% for branch in site.data.branches %}
			<p><a href="{{ site.baseurl }}/branches/{{ branch.name }}">{{ branch.name }}</a></p>
		{% endfor %}
		{% if site.data.releases.size > 0 %}
			<p><b>Releases</b></p>
			{% for release in site.data.releases %}
				<p><a href="{{ site.baseurl }}/releases/{{ release.name }}">{{ release.name }}</a></p>
			{% endfor %}
		{% else %}
			<p><em>No releases yet</em></p>
		{% endif %}
	</div>
</span>
